*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    overflow: hidden;
}

.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-confettis {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0 7px 0 rgb(160,160,160);
    font-size: 60px;
}
.btn-confettis:active {
    margin-top: 7px;
    box-shadow: 0 0px 0 rgb(160,160,160);
}
.slot {
    position: relative;
    perspective: 1000px;
}
.slot div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}
#welcome_bar {width: auto; height: auto; display: block; text-align: center; padding: 20px; color: #fff; position: relative; font-size: 18px; font-weight: 500;}
#close_welcome_bar {display: inline-block; cursor: pointer; padding: 20px; position: absolute; top: 0px; right: 0; font-weight: bold; font-size: 18px;}
.addthis_sharing_toolbox {clear:initial!important;}
#close_welcome_bar:hover { background: #F04F3F}
#welcome_bar a{background: #fff; color: #222; padding: 8px 20px; border-radius: 100px; margin-left: 5px; font-weight: 600;}
#welcome_bar a:hover{background:#bf68f7;color:#fff;}
.welcome-area {background: linear-gradient(270deg, #292929, #6300a3);
background-size: 800% 800%;
}